body{
  background-color: #E6E6FA;
  position: absolute;
}

.Career_Objective{
  font-style: italic;

}

#Picture{
  float: right;
  height: 220;
  width: 180;
  overflow:auto;
  position: relative;
  -ms-transform: rotate(-7deg);  
    -webkit-transform: rotate(-7deg); 
    transform: rotate(-7deg);
  -webkit-compon;

}

#Name{
 border-bottom: solid;
 padding-bottom: 0px;
 position: relative;
 overflow: auto;
}
 #Education_Category, #Skills_Category, #Experience_Category, #Hobbies_Category, #Reference_Category{
  display: inline;
  float:left;
  margin-right: 50px;
  height: 150px;
  width: 100px;
  border-right:solid;
  font-size: 20px;
  position: relative;
  overflow: auto;
  padding-right: 20px;


}

.Education, .Skills, .Experience, .Hobbies, .References{
  clear:both;
  overflow: auto;

}
